@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #C9D6DF;
  background-color: #52616B;
}

.container {
  max-width: 1440px;
  height: 647px;
  margin: 0 auto;
  background: url(../img/i4_bg.png) no-repeat center;
  
}

.menu {
  max-width: 1255px;
  margin: 0 auto;
  border-bottom: 1px solid #C9D6DF;
  padding: 17px 0;
}

.header__logo {
  display: inline;
  max-width: 50px;
}

.nav {
  float: right;
  margin: -33px 0;
}

.menu-main {
  margin-right: 15px;
}

.menu-main__list {
  display: inline-block;
}

.menu-main__list:nth-child(2),
.menu-main__list:nth-child(3),
.menu-main__list:nth-child(4){
  margin-left: 60px;
}

.menu-main__list:last-child {
  margin-left: 30px;
}

.menu-main__list:nth-child(5) {
  margin-left: 200px; 
}

.main-title {
  font-size: 34px;
  line-height: 41px;
  text-transform: capitalize;
}

.main-model {
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.eight {
  max-width: 1195px;
  height: 500px;
  margin: 130px auto 0 auto;
  background: url(../img/the8_bg.jpeg) no-repeat center;
}

.eight:hover {
  filter: blur(5px);
}

.eight-title {
  margin-left: 88px;
  margin-top: 19px;
}

.eight-model {
  margin-left: 88px;
  margin-top: 7px;
}

.main-low {
  max-width: 1195px;
  margin: 17px auto 0 auto;
}

.xseven {
  width: 590px;
  height: 341px;
  background: url(../img/x7_bg.jpeg) no-repeat center;
  display: inline-block;
}

.xseven:hover {
  filter: grayscale(80%);
}

.xseven-title,
.xseven-model {
  margin-left: 26px;
  margin-top: 12px;
}


.five {
  width: 590px;
  height: 341px;
  background: url(../img/the5_bg.jpeg) no-repeat center;
  display: inline-block;
  margin-left: 9px;
}

.five:hover {
  filter: drop-shadow(16px 16px 20px rgb(26, 22, 232));
}

.five-title,
.five-model {
  margin-left: 8px;
  margin-top: 12px;
  text-align: center;
}